@import "../StyleSheet/Main.scss";
.app-main {
  background-color: #f0f5f9;
  height: 100%;
  overflow: hidden;
}
//แทบเล็ต
@media only screen and (max-width: 1024px) {
  * {
    cursor: default !important;
  }
  .main-content {
    margin: 0 0 0 60px !important;
    div {
      &.heading-content {
        ul {
          width: 60% !important;
          li {
            &:hover {
              div {
                left: calc(0% - 19px) !important;
              }
            }
          }
        }
      }
      &.body-content {
        .col {
          &.is-6 {
            width: 33.33% !important;
            div {
              &.card {
                p {
                  &.heading-card {
                    padding: 10px 0 !important;
                  }
                }
                div {
                  .main-popup {
                    .popup-card {
                      border-top-left-radius: 8px !important;
                      border-top-right-radius: 0px !important;
                      left: -250px !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .main-nav-left {
    position: relative;
    z-index: 50 !important;
    height: 100vh;
    width: 60px !important;
    a,
    p {
      display: none;
    }
    ul {
      &.nav-content-left {
        height: auto !important;
        li {
          padding: 17px 17px !important;
        }
      }
    }
    div {
      &.status {
        height: auto !important;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .status-box {
          width: 100% !important;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          .process {
            width: 30px !important;
            height: 30px !important;
            border-width: 3px !important;
            p {
              display: block;
              font-size: 10px !important;
            }
          }
        }
      }
      &.content {
        padding: 17px 17px !important;
        i {
          &:nth-child(2) {
            display: none !important;
          }
        }
        p {
          &:nth-child(1) {
            display: none;
          }
          &:nth-child(2) {
            margin-left: 7px !important;
            display: block !important;
          }
        }
      }
    }
    li {
      &.notification-box {
        display: flex;
        div {
          &.notification {
            width: 2px !important;
            height: 8px !important;
            background-color: red !important;
          }
        }
      }
    }
    ul {
      &.dropdown-list {
        &.visible {
          padding: 0 0 0 43px !important;
        }
      }
    }
    &:hover {
      width: 220px !important;
      transition: all 0.2s;
      a,
      p {
        display: block !important;
      }
      div {
        &.status {
          height: auto !important;
          display: flex !important;
          align-items: center !important;
          justify-content: center !important;
          padding: 5px 0 !important;
          .status-box {
            // color: white !important;
            width: 50% !important;
            display: flex !important;
            flex-wrap: wrap !important;
            align-items: center !important;
            justify-content: center !important;
            margin: 0px !important;
            .process {
              width: 70px !important;
              height: 70px !important;
              border-width: 5.5px !important;
              p {
                display: block;
                font-size: 24px !important;
              }
            }
          }
        }
        &.content {
          padding: 17px 17px !important;
          i {
            &:nth-child(2) {
              display: block !important;
            }
          }
          p {
            &:nth-child(1) {
              display: block;
            }
            &:nth-child(2) {
              margin-left: 7px !important;
              display: none !important;
            }
          }
        }
        &.m-color {
          width: 100%;
          background-color: rgba(42, 64, 101, 1) !important;
          ul {
            &.nav-content-left {
              height: 225px;
              list-style: none;
              li {
                background-color: rgba(42, 64, 101, 1) !important;
              }
            }
          }
        }
      }
      li {
        &.notification-box {
          position: relative;
          display: block;
          div {
            &.notification {
              width: 35px !important;
              height: 25px !important;
              background-color: #3692a9 !important;
            }
          }
        }
      }
      ul {
        &.dropdown-list {
          &.visible {
            padding: 0 0 0 40px !important;
          }
        }
      }
    }
  }
  .main-navbar-right {
    ul {
      &.nav-right-content {
        background-color: white !important;
        li {
          background-color: rgba(43, 158, 179, 1) !important;
        }
      }
    }
  }
  .navbar {
    div {
      &.heading-mobile {
        display: block !important;
        width: 60px !important;
        height: 100% !important;
        background-color: #2c314e !important;
      }
      &.nav-logo {
        background-color: inherit !important;
        p {
          color: #2c314e !important;
        }
      }
    }
  }
  .view-screen {
    div {
      &.control {
        left: 60px !important;
        right: 0px !important;
      }
      &.status {
        left: 100px !important;
      }
    }
  }
}
//โทรศัทพ์
@media screen and (max-width: 720px) {
  .main-content {
    div {
      &.body-content {
        .col {
          &.is-6 {
            width: 100% !important;
          }
        }
      }
    }
  }
  .navbar-mobile {
    background-color: white;
    position: fixed !important;
    overflow: hidden !important;
    top: 45px !important;
    right: 0 !important;
    overflow: auto !important;
    z-index: 50 !important;
    width: 0 !important;
    overflow-x: hidden !important;
    transition: all 0.2 ease-in-out;

    .main-nav-left,
    .main-navbar-right {
      background-image: initial !important;
      background-color: #e6dbdb !important;
      overflow: hidden;
      display: block !important;
      position: initial !important;
      right: 0 !important;
      left: initial !important;
      width: 100% !important;
      height: auto !important;
    }
    .main-navbar-right {
      right: 0 !important;
      height: auto;
      ul {
        &.nav-right-content {
          background-color: white !important;
          li {
            background-color: #085b69 !important;
          }
        }
      }
    }
    .main-nav-left {
      width: 230px !important;
      transition: all 0.2s;
      // margin: initial !important;
      right: 0 !important;
      a,
      p {
        display: block !important;
      }
      div {
        &.status {
          height: auto !important;
          display: flex !important;
          align-items: center !important;
          justify-content: center !important;
          padding: 5px 0 !important;
          .status-box {
            width: 50% !important;
            display: flex !important;
            flex-wrap: wrap !important;
            align-items: center !important;
            justify-content: center !important;
            margin: 0px !important;
            .process {
              width: 70px !important;
              height: 70px !important;
              border-width: 5.5px !important;
              p {
                display: block;
                font-size: 24px !important;
              }
            }
          }
        }
        &.content {
          padding: 17px 17px !important;
          i {
            &:nth-child(2) {
              display: block !important;
            }
          }
          p {
            &:nth-child(1) {
              display: block;
            }
            &:nth-child(2) {
              margin-left: 7px !important;
              display: none !important;
            }
          }
        }
        &.m-color {
          width: 100%;
          background-color: white !important;
          p {
            color: black !important;
          }
          ul {
            &.nav-content-left {
              height: 225px;
              list-style: none;
              li {
                border-bottom: 1px solid #e6dbdb;
                background-color: white !important;
                color: black !important;
                * {
                  opacity: 1 !important;
                }
                &.notification-box {
                  .notification {
                    p {
                      color: white !important;
                    }
                  }
                }
              }
            }
          }
          div {
            &.status {
              padding: 20px 0 !important;
            }
          }
        }
        &.h-color {
          background-color: #e6dbdb !important;
          ul {
            &.nav-content-left-list {
              li {
                div {
                  &.content {
                    background-color: white !important;
                    color: black !important;
                    * {
                      opacity: 1;
                    }
                    p {
                      color: black !important;
                    }
                  }
                }
                &.active,
                &:hover {
                  color: black !important;
                }
              }
            }
          }
        }
        li {
          &.notification-box {
            position: relative;
            display: block;
            div {
              &.notification {
                width: 35px !important;
                height: 25px !important;
                background-color: #3692a9 !important;
              }
            }
          }
        }
        ul {
          &.dropdown-list {
            &.visible {
              padding: 0 0 0 40px !important;
            }
          }
        }
      }
    }
    .navbar {
      div {
        &.heading-mobile {
          display: none !important;
        }
      }
    }
  }
  .view-screen {
    div {
      &.status {
        left: 25px !important;
      }
      &.control {
        height: 60px !important;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center !important;
        padding: 10px 0 !important;
        left: 0px !important;
        * {
          margin-top: 0 !important;
          margin-bottom: 0 !important;
          padding-left: 0 !important;
        }
      }
    }
  }
  .navbar {
    div {
      &.heading-mobile {
        background-color: white !important;
      }
    }
  }
  .main-content {
    margin-left: 0 !important;
    .heading-content {
      position: relative;
      ul {
        visibility: hidden !important;
        &::before {
          content: "Sort";
          color: white;
          font-size: 18px;
          font-weight: 600;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 95%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent transparent #333a54 transparent;
        }

        width: 0 !important;
        height: 0 !important;

        opacity: 1 !important;
        position: absolute;
        top: 50px;
        right: 25px;
        background-color: #333a54;
        border-radius: 4px;
        box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
        flex-wrap: wrap;
        padding: 10px 0;
        * {
          visibility: hidden !important;
          white-space: nowrap;
        }
        li {
          width: 100% !important;
          display: flex;

          p {
            display: none !important;
          }
          &::after,
          &::before {
            display: none !important;
          }
          div {
            visibility: visible !important;
            width: 100% !important;
            height: auto !important;
            flex-direction: row-reverse;
            display: flex;
            align-items: center;
            justify-content: flex-start !important;
            padding: 10px 10px;
            span {
              text-align: left;
              width: 100% !important;
              color: white !important;
              opacity: 0.8;
              &::before {
                content: "\f105";
                font-family: "Line Awesome Free";
                font-weight: 900;
                margin-left: 5px;
                margin-right: 10px;
              }
            }
            img {
              display: none !important;
            }
          }
          &.active {
            div {
              span {
                font-size: 16px !important;
                font-weight: 600 !important;
                opacity: 1;
              }
            }
          }
          &:hover {
            div {
              position: initial !important;
              top: initial !important;
              left: initial !important;
              font-size: inherit !important;
              padding: 10px !important;
              &::after {
                display: none !important;
              }
            }
          }
        }
        &.show-popup {
          width: 50vw !important;
          height: auto !important;
          visibility: visible !important;
          * {
            visibility: visible !important;
          }
        }
      }
      div {
        &.menu-mobile {
          display: block !important;
          font-size: 26px !important;
          color: #a7b5be;
        }
      }
    }
    .body-content {
      &.cols {
        padding-left: 10px !important;
        padding-right: 10px !important;
        .card {
          img {
            height: 250px !important;
          }
        }
      }
    }
  }
}
//กำหนด size content
@media screen and (min-width: 2500px) {
  .app-main {
    .app-content {
      width: 2000px;
      div {
        &.view-screen {
          div {
            &.control {
              width: 2000px !important;
              right: initial;
              left: 0;
            }
            &.status {
              left: 2%;
            }
          }
        }
        &.main-content {
          margin: 0 !important;
          div {
            &.body-content {
              padding: 0;
              div {
                &.is-6 {
                  padding: 0 40px;
                }
              }
            }
          }
        }
      }
    }
    .main-nav-left {
      div {
        &.m-color {
          background-color: #2a4065 !important;
          ul {
            li {
              &:nth-child(1) {
                background-color: #2a4065 !important;
              }
              &:nth-child(2) {
                background-color: #334f7d !important;
              }
              &:nth-child(3) {
                background-color: #304b79 !important;
              }
              &:nth-child(4) {
                background-color: #375280 !important;
              }
              &:nth-child(5) {
                background-color: #2e4773 !important;
              }
            }
          }
        }
      }
    }
  }
}
//ขยาย nav
@media screen and (min-width: 3000px) {
  .main-nav-left,
  .main-navbar-right {
    width: 350px !important;
  }
  .nav-logo {
    width: 350px !important;
  }
}
