::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.main-navbar-right {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 45px;
  right: 0;
  height: 100%;
  bottom: 0px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 405px, white 0%);
  // background-color:;

  width: 250px;
  ul {
    margin-block-start: 0;
    margin-block-end: 0;
    list-style: none;
    padding-inline-start: 0;

    &.nav-right-content {
      height: 404.5px;
      li {
        margin-bottom: 1px;
        cursor: pointer;
        position: relative;
        // margin-bottom: px;
        
        color: white;
        &:nth-child(1){
          background-color:rgba(43, 158, 179, .75);
        }
        &:nth-child(2){
          background-color:rgba(43, 158, 179, .7);
        }
        &:nth-child(3){
          background-color:rgba(43, 158, 179, .65);
        }
        &:nth-child(4){
          background-color:rgba(43, 158, 179, .6);
        }
        
        p {
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 2px;
          padding: 3px 0 3px 10px;
          text-transform: uppercase;
          opacity: 0.9;
        }
        div {
          &.box-chart {
            width: 70%;
            height: 36.67px !important;
          }
          &.content-box {
           
            margin: 0 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
              font-size: 28px;
              font-weight: 400;
              padding: 0;
              letter-spacing: 0.02em;
            }
            i {
              font-size: 25px;
              opacity: 0.7;
            }
            &.right{
              position: absolute;
              top: 40%;
              left: 83%;
            }
          }
        }
        height: 84px;
        &:hover {
          * {
            cursor: pointer;
          }
          div {
            i {
              opacity: 1;
            }
          }
          p {
            opacity: 1;
          }
        }

        &:nth-last-child(1) {
          height: 62.5px;
          margin-bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color:rgba(43, 158, 179, .65);
          color: white;
          p {
            padding: 0;
            text-transform: initial;
            font-weight: 600;
            font-size: 20px;
          }
        }
      }
    }
    &.nav-right-content-social {
      background-color: white;
      height:auto;
      border-top: none;
      padding-bottom: 30px;
      li {
        text-align: center;
        p {
          text-transform: uppercase;
          letter-spacing: 0.1em;
          font-size: 15px;
          font-weight: 600;
          color: #cfcfcf;
          position: relative;
          padding: 18px 0;
          &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            content: "";
            border-bottom: 2px solid #ececec;
            width: 100%;
          }
        }
        ul {
          position: relative;
          padding: 15px 0;
          li {
            padding: 8px 0;
            position: relative;

            div {
              &.col {
                display: flex;
                align-items: center;
                justify-content: center;
                .status-online {
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  &.follow {
                    background-color: #63bf66;
                  }
                  &.removed {
                    background-color: #c9c9c9;
                  }
                  &.unfollow {
                    background-color: #f88245;
                  }
                }
                .profile-image {
                  position: relative;
                  width: 50px;
                  height: 50px;
                  overflow: hidden;
                  border-radius: 100%;
                  img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    height: 100%;
                    border-radius: 100%;
                    transform: translate(-50%, -50%);
                  }
                }
                &.detail-profile-comment {
                  text-align: left;
                  p {
                    color: #9397a3;
                  }
                }
                &.box-comment-detail {
                  margin-top: 15px;
                  text-align: left;
                  p {
                    display: block;
                    position: relative;
                    margin-left: 6%;
                    margin-right: 2%;
                    font-size: 17px;
                    word-break: break-word;
                    font-weight: 400;
                    &::before {
                      position: initial;
                      width: auto;
                      font-size: 25px;
                      content: open-quote;
                      border: none;
                    }
                    &::after {
                      font-size: 25px;
                      position: initial;
                      width: auto;
                      content: close-quote;
                      border: none;
                    }
                  }
                }
                &.box-time-detail {
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  margin-right: 2%;
                  margin-top: 5px;
                  font-style: italic;
                  color: #adadad;
                }
                p {
                  padding: 0;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-wrap: wrap;
                  letter-spacing: 0;
                  text-transform: initial;

                  span {
                    width: 100%;
                    padding: 2px 0;
                    &:nth-child(1) {
                      color: #afb2bb;
                    }
                    &.status-online-button {
                      width: 71px;
                      height: 20px;
                      border-radius: 4px;
                      font-size: 11px;
                      letter-spacing: 1px;
                      font-weight: 700;
                      align-items: center;
                      justify-content: center;
                      white-space: nowrap;
                      color: white;
                      &.follow {
                        background-color: #63bf66;
                      }
                      &.removed {
                        background-color: #c9c9c9;
                      }
                      &.unfollow {
                        background-color: #f88245;
                      }
                    }
                  }
                  &::before {
                    width: 0;
                  }
                }
              }
            }
          }
          &.underline {
            &::before {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              content: "";
              border-bottom: 2px solid #ececec;
            }
          }
        }
      }
    }
  }
}
